*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.wrapper-start.active{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

.wrapper-start{
    display: none;
}

.btn-start{
    background-color: #fff;
    padding: 20px 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-start div{
    font-size: 20px;
    font-weight: 500;
}

.btn-start .btn{
    text-decoration: none;
    background-color: #99ffff;
    padding: 10px;
    width: 100%;
    text-align: center;
    color: black;
    border-radius: 10px;
    transition: 0.5 all ease-in-out;
}

.btn-start a:hover{
    background-color: #00FFFF;
}

.main.active{
    display: block;
    position: relative;
    height: 100vh;
}

.main{
    display: none;
    
}

.bg{
    max-width: 100%;
    height: auto;
}
.bg img{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
}

.info-evelop{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.purpose{
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 2;
    color: white;
    border-radius: 10px;
}

.left-evelop{
    text-align: center;
    margin-right: 30px;
}

.cauchuc{
    display: none;
}

div.cauchuc.active{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    font-style: italic;
    display: block;
}

.right-evelop{
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .wrapper-start.active{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: lightblue;
    }

    .main.active{
        display: block;
        position: relative;
        height: 100vh;
    }

    .info-evelop{
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        height: 100vh;
    }

    div.cauchuc.active{
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 10px;
        font-style: italic;
        display: block;
    }
}